:root {
    --color: white;
    --color-letras: #1a90be;
    --color-bordes: var(--color-letras);
    --colo-primario: #1a90be;
}

body {
    font-family: 'IBM Plex Sans Thai', sans-serif;
}

nav {
    display: inline-block;
    background-color: var(--color);
    margin-bottom: 30px;
    width: 100%;
}

ul a {
    color: var(--color-letras);
    font-size: 25px;
    padding: 0px 10px;
    text-decoration: none;
}

ul a:hover {
    color: var(--color-letras);
    font-size: 27px;
    padding: 0px 10px;
    text-decoration: none;
}



#index {
    width: 80vw;
}

.aviso {
    border-width: .5px;
    border-radius: 4px;
    border-color: #ccc;
    border-style: groove;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
    margin-left: 30px;
    padding: 10px;
    width: 100%;
    background-color: white;
}

#registro {
    border-width: .5px;
    border-radius: 4px;
    border-color: #ccc;
    border-style: groove;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
    margin:0 auto;
    width: 100%;
    background-color: white;
}

.publicaciones {
    margin-left: 30px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
}

#ColAv {
    display: flex;
    width: 100%;
    flex: 1;
    max-width: 100%;
    margin-top: 0;
}

#colpub {
    display: flex;
    margin-top: 0;
    flex: 2;
}


.container-img-pub {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img-pub {
    max-width: 730px;
}

.form-pub {
    margin: 10px;
    padding: 5px;
    background-color: white;
    border-width: .5px;
    border-radius: 4px;
}

.btn-post {
    max-width: 100%;
    position: relative;
    background-color: var(--color-letras);
    color: honeydew;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
}


#presenta {
    padding-top: 10%;
    padding-left: 20%;
    width: 100%;
}

#leyenda {
    text-align: justify;
    padding-top: 5px;
}

#nuevo button {
    width: 70%;
    background-color: var(--color-letras);
    color: honeydew;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

#nuevo button:active {
    background-color: #CB3452;
    transform: rotate(1deg);
}

#nuevo {
    align-items: center;
    padding-bottom: 10px;
}

.agetube {
    color: var(--color-letras);
    font-size: 30px;
    padding: 0px 10px;
    text-decoration: none;
    font-weight: bold
}

.agetube:hover {
    color: var(--color-letras);
    font-size: 31px;
    padding: 0px 10px;
    text-decoration: none;
    font-weight: bold
}

input {
    font-family: 'IBM Plex Sans Thai', sans-serif;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text]:hover {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid var(--color);
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=mail] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=mail]:hover {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid var(--color);
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password]:hover {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid var(--color);
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: var(--color-letras);
    color: honeydew;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

input[type=submit]:active {
    width: 101%;
    background-color: var(--color-letras);
    transform: rotate(1deg);
}

input[type=submit]:disabled {
    width: 100%;
    background-color: gray;
}

.datos {
    margin-bottom: 50px;
    grid-gap: 5px 20px;
    padding: 12px 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 60%;
    margin-left: 22.5%;
}

.tres {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-gap: 5px 8px;
    padding: 10px;
}

.datosg {
    display: grid;
    grid-template-columns: repeat(3, 50%);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: rgb(228, 224, 224);
}

.datosf {
    display: grid;
    grid-template-columns: repeat(3, 100%);
    border-radius: 4px;
}


.video {

    display: grid;
    grid-template-rows: repeat(2, 80%);
    grid-template-columns: repeat(1, 100%);
}

.cam {
    display: grid;
    grid-template-rows: repeat(1, 95%);
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.foto {
    display: grid;
    grid-template-rows: repeat(1, 17%);
    padding: 60px 20px;
}


select {
    height: 40px;
    font-size: 16px;
    background-color: #ffff;
    border-radius: 4px;
}

#fecha :hover {
    border: 2px solid #ccc;
    border-radius: 4px;
    border-color: #34cbad;
}

p {
    color: gray;
}

.titulo {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-height: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: auto;
}

.footer-text {
    color: var(--color-letras);
    font-size: 20px;
    display: none;
}

.footer-text:hover{
    display:inline;
}

/*ESTILOS DE INICIO*/


#muro {
    width: 100%;
    display: flex;
    margin: 0 auto;
}

.publicacionhub {
    height: auto;
    align-items: center;
    display: flex;
    width: 100%;
    background-color: #ffffff68;
    border-color: var(--color-letras);
    border-style: groove;
    border-width: .5px;
    border-radius: 10px;
    margin: 0;
}

.icono-p {
    color: #1a90be;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.icono-card {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    break-inside: avoid;
}

.icono-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff99;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 5px;
}



.icono {
    width: 100%;
    padding: 5px;
    object-fit: contain;
    transition: opacity 0.3s ease;
    border-radius: 10px;
    transform: scale(90%);
    margin: 0 auto;
}


.icono-card:hover .icono{
    opacity: 0.9;
    transform: scale(105%);
    cursor: pointer;
}

.icono-card:hover .icono-overlay {
    opacity: 1;
    cursor: pointer;
}


.container-titulo-pub {
    max-width: 97%;
    background-color: var(--color-bordes);
    border-radius: 10px;
    border-color: var(--color-bordes);
    border-style: groove;
    text-align: center;
    padding-top: 15px;
}

.pub-adultos {
    max-width: 880px;
    margin-top: 20px;
    border-width: .5px;
    border-radius: 10px;
    border-color: var(--color-bordes);
    border-style: groove;
    margin-bottom: 20px;
    width: 100%;
    padding-left: 20px;
    padding-top: 20px;
    background-color: whitesmoke;
}


.titulo-pub {
    color: white;
    font-size: 23px;
    margin: 0 auto;
}


.footer-pub {
    padding: 10px;
}

.contenido-pub {
    padding: 15px;
}

.container-contenido-pub {
    max-width: 97%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border-color: whitesmoke;
    border-style: groove;
    background-color: white;
}

.contenedor-detalles {
    border-radius: 20px;
    border-color: #CB3452;
    padding-top: 30px;
}

#card {
    background-color: #ffffff;
    border-radius: 10px;
    border-color: var(--color-bordes);
    border-style: groove;
    border-width: 1px;
    margin-bottom: 20px;
}

.contenido-pub a {
    font-size: 24px;
    text-decoration: none;
    color: var(--color-letras);
    font-style: italic;
}

.contenido-pub a:hover {
    font-size: 27px;
    text-decoration: none;
    color: var(--color-letras);
    font-style: italic;
}

#imgmuro {
    max-width: 230px;
    margin: 0 auto;
}

/*ESTILOS DE COMUNIDAD*/

* {
    box-sizing: border-box;
}

.comunidad-card {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    break-inside: avoid;
    margin-bottom: 1em;
}

.com {
    width: 100%;
    padding: 5px;
    width: 100%;
    object-fit: contain;
    transition: opacity 0.3s ease;
    border-radius: 10px;
}

.comunidad-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a90be61;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 5px;
}

.comunidad-name {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.comunidad-card:hover .comunidad-img {
    opacity: 0.9;
}

.comunidad-card:hover .comunidad-overlay {
    opacity: 1;
    cursor: pointer;
}

.fila {
    columns: 7 230px;
    width: 95%;
    justify-content: center;
    margin: 0 auto;
    margin-left: 2.5%;
}

/* Estilos para el modal */
.modal {
    display: none;
    /* Por defecto, el modal estar치 oculto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    /* Fondo semitransparente para resaltar el modal */
    align-content: center;
    /* Fondo semitransparente para resaltar el modal */
}

.modal-muro {
    display: none;
    /* Por defecto, el modal estar치 oculto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    /* Fondo semitransparente para resaltar el modal */
    align-content: center;
}

.modal-content-m {
    background-color: #fefefe;
    margin: 10% auto;
    /* Margen vertical y centrado horizontalmente */
    padding: 10px;
    border: 1px solid #1a90be;
    overflow-y: auto;
    /* Habilita el desplazamiento vertical si el contenido excede la altura m치xima */
    border-radius: 10px;
    width: 70%;
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    /* Margen vertical y centrado horizontalmente */
    padding: 10px;
    border: 1px solid #1a90be;
    overflow-y: auto;
    /* Habilita el desplazamiento vertical si el contenido excede la altura m치xima */
    border-radius: 10px;
    width: 70%;
}

.limites {
    width: 50%;
    height: 50%;
    margin-left: 25%;
}


.modal-content h2 {
    text-align: center;
}

.modal-content form {
    margin-top: 20px;
}

.modal-content form .form-group {
    margin-bottom: 10px;
}

.modal-content form label {
    display: block;
    margin-bottom: 5px;
}

.modal-content form input,
.modal-content form textarea {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}

.modalbtn {
    width: 100%;
    background-color: var(--color-letras);
    color: honeydew;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

.modalbtn:active {
    background-color: #CB3452;
    transform: rotate(1deg);
}